<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>{{title}} - good</title>
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mixu/markdown-styles@master/layouts/github/assets/css/github-markdown.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mixu/markdown-styles@master/layouts/github/assets/css/pilcrow.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mixu/markdown-styles@master/layouts/github/assets/css/hljs-github.min.css"/>
  </head>
  <body>
    <article class="markdown-body">
      {{~> content}}
    </article>
  </body>
</html>
